# Secrets file
secrets.yaml

# Log File
home-assistant.log

# Known Devices
known_devices.yaml

ip_bans.yaml

*.token
*.pickle
*.sqlite
*.cookies
.DS_Store
.uuid
.config_entries.json
.storage
.pc-session
.august.conf
nest.conf
html5_push_registrations.conf
plex.conf
sabnzbd.conf
.xbox-token.json
.google_maps_location_sharing.cookies.*
rtsp2webrtc_v4_amd64

.cloud/

#IDE Files
.c9
.Trash*

# Text to Speach Cache
tts

deps

/config/www/avatars
/config/www/snapshots
/config/www/custom-lovelace
/config/www/upcoming-media-card-images

/config/media

#Z-Wave
openzwave
zwcfg_0xe2a2aae7.xml
zwscene.xml
OZW_Log.txt
options.xml

__pycache__/

# VS Code Settings
.vscode/*

config/google_calendars.yaml
config/zigbee.db
config/google-service-account.json
